body {
    color: #000066;
    background-color: #99ccff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1 {color: #6600cc; background-color: #ff99ff}
h2 {color: #ff0066;}
a {color: #ff0066;}

h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}