body {
    color: #000066;
    background-color: #99ccff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1 {color: #000099; background-color: #668fc5}
h2 {color: #000099;}
a {color: #000099;}

h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: #acf2f7;
    }

nav a {color: rgb(0, 0, 0);}
nav {color:rgb(0, 0, 0);}

nav a hover {background-color: #acf2f7}

a:hover {color: green} 